# Web Framework
fastapi==0.115.6
uvicorn[standard]==0.32.1

# Database
sqlalchemy==2.0.36
psycopg2-binary~=2.9.9 

# Data Validation
pydantic[email]==2.10.4

# HTTP Client
requests==2.32.3

# Development & Testing
Faker==30.8.2